certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
colorama==0.4.6
comtypes==1.4.16
idna==3.11
numpy==2.4.3
pillow==12.1.1
PyAudio==0.2.14
pycparser==3.0
pypiwin32==223
python-dotenv==1.2.2
pyttsx3==2.99
pytz==2026.1.post1
pywin32==311
requests==2.32.5
SpeechRecognition==3.15.1
srt==3.5.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
vosk==0.3.45
websockets==16.0
